.text-platzi {
    /* !important para que pise cualquier color que pueda tener */
    color: #97c93e !important;
}

.btn-platzi {
    background-color: #97c93e;
    color: white;
}
.btn-platzi:hover {
    background-color: #7ba334;
}

#header img{
    width: 80px;
}

#main .carousel-inner img {
/* es importante este tipo de declaracion/orden id, clase, elemento */
    max-height: 70vh;
    /* vh - viewport height, 70% del alto de la pantalla */
    object-fit: cover;
    /* solucionamos la imagen estirada por el efecto 70hv */
    filter: grayscale(70%);
    /* agregamos un filtro en la escala de grises */
}

#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    /* el efecto ocupara todo el ancho y alto segun la pantalla respnsive */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    /* efecto de 0.5 de trasparencia */
    color: white;
    /* color del texo que que ira sobre el overlay */
}

#carousel .overlay .container,
#carousel .overlay .row {
    /* con esta selccion podemos centrar verticalmente el contenido de un contenedor */
    height: 100%;
    /* tuve que centrar el contenido de la fila , 
    pero se pude hacer en html agregando a la clase el
    atributo align-items-center de esta manera! */
    /* align-items: center; */
}

#place-time img{
    /* con esto logramos que siempre la imagen tenga el 100% aunque cambie el tamanio de lapantalla
    se mantendra visible la imagen y columna */
    max-width: 100%;
}

#place-time {
    background-color: #272C31;
    color: white;
    /* text-align: center; */
}

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472);
    /* color de fondo del footer como el de la web site de platzi */

}

#footer a {
    /* definimos el color del texto de las anclas "a" del footer a color balanco */
    color: white;
}